* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 2% 0;
}

/* Style home */

header ul {
    list-style: none;
    display: flex;
    gap: 2%;
}

a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1.5%;
}

h1, h2 {
    margin-bottom: 1%;
}

.indice li, .estudios li {
    margin-left: 4%;
}

.enlaces_estudios {
    text-decoration: underline;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.datos {
    width: 65%;
}

.imagen {
    width: 15%;
}

.imagen img {
    width: 100%;
    border-radius: 15%;
}

li {
    margin-top: 1%;
}

.estudios h2 {
    margin-top: 7%;
}

.datos ul li {
    list-style: none;
    margin-right: 0;
}

/* Style estudios */

.contenido h2 {
    margin-top: 2%;
}

.contenido ul li {
    margin-left: 4%;
}

.ubicacion h2 {
    margin-top: 2%;
}

.ubicacion iframe {
   display: block;
   margin: 0 auto;
}

.imagen_estudios {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    
}

.imagen_estudios img {
    width: auto;
    height: auto;
    max-width: 100%;
    flex: 0 1 auto;
    min-width: 0;
    margin-bottom: 5%;
}